.backdrop {
  background-color: gold;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.ishidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%) scale(1);
  transition: transform 500ms ease-in-out 500ms;

  width: 100%;
  max-width: 450px;
  padding: 40px;

  background-color: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
