.container {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 1;
  animation: arrows 8s linear;
}

@keyframes arrows {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.arrows {
  fill: transparent;
  stroke: white;
}
