:root {
  // Desktop
  --backgroundCube: rgba(255, 255, 255, 0.09);
  --border: 1px solid rgba(209, 207, 207, 0.8);
  --cube-size: 500px;
  --cube-half: calc(var(--cube-size) / 2);
  --cube-perspective: 1500px;
  // Tablet
  --cube-sizeTablet: 350px;
  --cube-halfTablet: calc(var(--cube-sizeTablet) / 2);
  // Mobile
  --cube-sizeMobile: 250px;
  --cube-halfMobile: calc(var(--cube-sizeMobile) / 2);
}
