.container {
  backdrop-filter: blur(3px);

  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;

  border: var(--border);
  box-shadow: var(--boxShadow);
  background-color: var(--backgroundCube);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: rotateY(90deg) translateZ(var(--cube-half));

  padding: 10px;
  animation: rightSideClose 3s linear;
}
@keyframes rightSideClose {
  0% {
    transform: rotateY(180deg) translateZ(250px);
  }
  100% {
    transform: rotateY(90deg) translateZ(var(--cube-half));
  }
}
.rightSideOpen {
  transform: rotateY(180deg) translateZ(250px);
  animation: rightSideOpen 3s linear;
}

@keyframes rightSideOpen {
  0% {
    transform: rotateY(90deg) translateZ(var(--cube-half));
  }
  100% {
    transform: rotateY(180deg) translateZ(250px);
  }
}
.rightSideOpenPortfolio {
  transform: rotateY(90deg) translateZ(-249px);
  animation: rightSideOpenPortfolio 3s linear;
}

@keyframes rightSideOpenPortfolio {
  0% {
    transform: rotateY(90deg) translateZ(var(--cube-half));
  }
  100% {
    transform: rotateY(90deg) translateZ(-249px);
  }
}
.rightSideClosePortfolio {
  transform: rotateY(90deg) translateZ(var(--cube-half));
  animation: rightSideClosePortfolio 3s linear;
}

@keyframes rightSideClosePortfolio {
  0% {
    transform: rotateY(90deg) translateZ(-250px);
  }
  100% {
    transform: rotateY(90deg) translateZ(var(--cube-half));
  }
}

.containerList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerItem {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
}

.itemBox {
  display: flex;
  border-radius: 5px;
}

.itemImage {
  width: 220px;
  border-radius: 5px 0 0 5px;
}

.textBox {
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.techText {
  margin-bottom: 5px;
}
.descrText {
  margin-bottom: 5px;
}
