.container {
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: rotateY(90deg) translateZ(var(--cube-half));

  border: 1px solid white;
  padding: 10px;
}

.containerList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerItem {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
}

.itemBox {
  display: flex;
  border-radius: 5px;
}

.itemImage {
  width: 220px;
  border-radius: 5px 0 0 5px;
}

.textBox {
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.techText {
  margin-bottom: 5px;
}
.descrText {
  margin-bottom: 5px;
}
