.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 1;
  animation: arrows 8s linear;

  @include mq(desktop) {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
}
@keyframes arrows {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow__title {
  @include mq(mobile-only) {
    display: none;
  }
}

.arrow-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.arrows {
  fill: transparent;
  stroke: white;
}
