.containerFront {
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background-color: var(--backgroundCube);
  box-shadow: var(--boxShadow);
  border: var(--border);
  transform: rotateY(0deg) translateZ(var(--cube-half));
  animation: frontSideClose 0.5s linear;
}
@keyframes frontSideClose {
  0% {
    transform: rotateY(0deg) translateZ(-250px);
  }
  100% {
    transform: rotateY(0deg) translateZ(var(--cube-half));
  }
}
.frontSideOpen {
  transform: rotateY(0deg) translateZ(-249px);
  animation: frontSideOpen 0.5s linear;
}
@keyframes frontSideOpen {
  0% {
    transform: rotateY(0deg) translateZ(var(--cube-half));
  }
  100% {
    transform: rotateY(0deg) translateZ(-250px);
  }
}
.frontSideOpenPortfolio {
  transform: rotateY(-90deg) translateZ(var(--cube-half));
  animation: frontSideOpenPortfolio 0.5s linear;
}
@keyframes frontSideOpenPortfolio {
  0% {
    transform: rotateY(0deg) translateZ(var(--cube-half));
  }
  100% {
    transform: rotateY(-90deg) translateZ(var(--cube-half));
  }
}
.frontSideClosePortfolio {
  transform: rotateY(0deg) translateZ(var(--cube-half));
  animation: frontSideClosePortfolio 0.5s linear;
}
@keyframes frontSideClosePortfolio {
  0% {
    transform: rotateY(-90deg) translateZ(var(--cube-half));
  }
  100% {
    transform: rotateY(0deg) translateZ(var(--cube-half));
  }
}
.frontSideOpenPortfolioExp {
  transform: rotateY(90deg) translateZ(var(--cube-half));
  animation: frontSideOpenPortfolioExp 0.5s linear;
}
@keyframes frontSideOpenPortfolioExp {
  0% {
    transform: rotateY(0deg) translateZ(var(--cube-half));
  }
  100% {
    transform: rotateY(90deg) translateZ(var(--cube-half));
  }
}
.frontSideClosePortfolioExp {
  transform: rotateY(0deg) translateZ(var(--cube-half));
  animation: frontSideClosePortfolioExp 0.5s linear;
}
@keyframes frontSideClosePortfolioExp {
  0% {
    transform: rotateY(90deg) translateZ(var(--cube-half));
  }
  100% {
    transform: rotateY(0deg) translateZ(var(--cube-half));
  }
}

.mainTitle {
  font-weight: 900;
  font-size: 50px;
}

.textContainer {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 15px;
  margin-bottom: 10px;
}

.text {
  display: block;
  font-size: 25px;
}

.image {
  filter: saturate(0.3) contrast(1.2);
  width: 200px;
  height: 200px;
}
