.backdropAboutMe {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background: linear-gradient(
    45deg,
    rgb(133, 133, 133) 2%,
    rgba(215, 217, 223, 0.213) 100%
  );
}

.ishiddenAboutMe {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalAboutMe {
  position: absolute;
  top: 0;
  left: 0;

  color: black;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  gap: 50px;

  font-size: 20px;
  color: #fff;

  background-color: rgba(14, 13, 13, 0.09);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.modalAboutMe > div {
  width: 32%;
}

.boxAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--backgroundCube);

  border: var(--border);
  padding: 15px;
}

.boxAboutMeFirst {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--backgroundCube);

  border: var(--border);
  padding: 15px;
}

.boxAboutMeSecond {
  display: flex;
  justify-content: center;

  background-color: var(--backgroundCube);

  border: var(--border);
  padding: 15px;
}

.boxAboutMeThird {
  display: flex;
  justify-content: center;

  background-color: var(--backgroundCube);

  border: var(--border);
  padding: 15px;
}

.boxAboutMeFour {
  display: flex;
  justify-content: center;

  background-color: var(--backgroundCube);

  border: var(--border);
  padding: 15px;
}

.first {
  // backdrop-filter: blur(5px);
  animation: modalFirst 1s linear;
}
@keyframes modalFirst {
  0% {
    transform: translate(30%, 30%) scale(0);
  }
  50% {
    transform: translate(30%, 30%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}
.firstClose {
  animation: firstClose 1s linear;
}
@keyframes firstClose {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  100% {
    transform: translate(30%, 30%) scale(0);
  }
}

.second {
  // backdrop-filter: blur(5px);
  animation: modalSecond 1s linear;
}
@keyframes modalSecond {
  0% {
    transform: translate(-30%, 30%) scale(0);
  }
  50% {
    transform: translate(-30%, 30%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}
.third {
  animation: modalthird 1s linear;
}
@keyframes modalthird {
  0% {
    transform: translate(0%, 0%) scale(0);
  }
  50% {
    transform: translate(0%, 0%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

.four {
  animation: modalfour 1s linear;
}
@keyframes modalfour {
  0% {
    transform: translate(-30%, 30%) scale(0);
  }
  50% {
    transform: translate(-30%, -30%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

.text-box {
  margin-left: 20px;
}

.titleAboutMe {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.textAboutMe {
  margin-bottom: 10px;
}

.skills-text-box {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.work-list {
  list-style: circle;
  margin-bottom: 10px;
  margin-left: 25px;
}

.work-text {
  margin-bottom: 10px;
}
