.backdropContactMe {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background: linear-gradient(
    45deg,
    rgb(133, 133, 133) 2%,
    rgba(215, 217, 223, 0.213) 100%
  );

  @include mq(desktop) {
    overflow-y: hidden;
  }
}

.ishiddenContactMe {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalContactMe {
  width: 100vw;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 10px;

  @include mq(tablet) {
    padding: 20px;
    width: 100vw;
    font-size: 16px;
    color: #fff;
  }

  @include mq(desktop) {
    font-size: 20px;
  }
}

.modalContactMe__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContactMe__link {
  color: #fff;
  text-decoration: none;
}

.modalContactMe__link:hover {
  color: rgb(110, 108, 108);
  transform: scale(1.1);
}

.modalContactMe__box {
  height: 100%;
  width: 100%;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: var(--backgroundCube);
  border: var(--border);
  padding: 15px;

  @include mq(tablet) {
    max-width: 700px;
    width: 100%;
    padding: 20px;
  }
}

.modalContactMe__item:not(:last-child) {
  margin-bottom: 10px;
}

.modalContactMe__item-social {
  display: flex;
  gap: 15px;
}

.fa {
  display: block;
  width: 50px;
  height: auto;
}

.fa:hover {
  color: rgb(110, 108, 108);
  transform: scale(1.1);
}

.modalContactMe__link-cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;

  &:hover {
    color: rgb(110, 108, 108);
    transform: scale(1.1);
  }
}

.modal__close-btnC {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border: var(--border);
  border-radius: 0;
  background-color: rgba(209, 207, 207, 0.8);

  outline: transparent;

  z-index: 1000;

  @include mq(tablet) {
    top: 0;
    right: 0;
    border: var(--border);
    border-radius: 0;
  }
}

.modal__close-icon {
  fill: #fff;

  .modal__close-btnC:hover &,
  .modal__close-btnC:focus & {
    fill: black;
  }
}
