.backdropAboutMe {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  overflow: scroll;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background: linear-gradient(
    45deg,
    rgb(133, 133, 133) 2%,
    rgba(215, 217, 223, 0.213) 100%
  );

  @include mq(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ishiddenAboutMe {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalAboutMe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  @include mq(tablet) {
    font-size: 16px;
    color: #fff;

    background-color: rgba(14, 13, 13, 0.09);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  @include mq(desktop) {
    font-size: 20px;
  }
}

.AboutMe__box {
  max-width: 400px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundCube);
  border: var(--border);

  @include mq(tablet) {
    max-width: 700px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
  }
  @include mq(desktop) {
    max-width: 1250px;
  }
}

.AboutMe__box-first {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;

  @include mq(tablet) {
    max-width: 300px;
    align-items: center;
  }
}

.AboutMe__box-second {
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.boxAboutMeFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.boxAboutMeSecond {
  display: flex;
  @include mq(desktop) {
    justify-content: center;
    padding: 15px;
  }
}

.boxAboutMeFour {
  display: flex;
}

.third {
  animation: modalthird 1s linear;
}
@keyframes modalthird {
  0% {
    transform: translate(0%, 0%) scale(0);
  }
  50% {
    transform: translate(0%, 0%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

.textAboutMe__descr {
  margin-bottom: 10px;
}

.titleAboutMe {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  @include mq(desktop) {
  }
}

.textAboutMe {
  margin-bottom: 10px;
}

.skills-text-box {
  display: flex;
  flex-wrap: wrap;
}

.work-list {
  list-style: circle;
  margin-bottom: 10px;
  margin-left: 25px;
}

.work-text {
  margin-bottom: 10px;
}

.image {
  margin-bottom: 10px;
  max-width: 300px;
  filter: saturate(0.3) contrast(1.2);
}

.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border: var(--border);
  border-radius: 0;
  background-color: rgba(209, 207, 207, 0.8);

  outline: transparent;

  z-index: 1000;

  @include mq(tablet) {
    top: 0;
    right: 0;
    border: var(--border);
    border-radius: 0;
  }
}

.modal__close-icon {
  fill: #fff;

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: black;
  }
}
