.backdropAboutMe {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background: linear-gradient(
    45deg,
    rgb(133, 133, 133) 2%,
    rgba(215, 217, 223, 0.213) 100%
  );
}

.ishiddenAboutMe {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalAboutMe {
  @include mq(desktop) {
    position: absolute;
    top: 0;
    left: 0;

    color: black;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    gap: 50px;

    font-size: 20px;
    color: #fff;

    background-color: rgba(14, 13, 13, 0.09);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
}

.AboutMe__box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow: scroll;
  @include mq(desktop) {
    // flex-direction: row;
    align-items: flex-start;
    margin-left: 200px;
    margin-right: 200px;

    display: flex;
    flex-direction: row;
    gap: 20px;

    background-color: var(--backgroundCube);

    border: var(--border);
    padding: 15px;
  }
}

.AboutMe__box-first {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.AboutMe__box-second {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.boxAboutMeFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.boxAboutMeSecond {
  display: flex;
  @include mq(desktop) {
    justify-content: center;
    padding: 15px;
  }
}

.boxAboutMeFour {
  display: flex;
}

.third {
  animation: modalthird 1s linear;
}
@keyframes modalthird {
  0% {
    transform: translate(0%, 0%) scale(0);
  }
  50% {
    transform: translate(0%, 0%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

.textAboutMe__descr {
  margin-bottom: 15px;
}

.titleAboutMe {
  text-transform: uppercase;
  text-align: center;

  @include mq(desktop) {
    margin-bottom: 10px;
  }
}

.skills-text-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.work-list {
  list-style: circle;
  margin-bottom: 10px;
  margin-left: 25px;
}

.work-text {
  margin-bottom: 10px;
}

.image {
  filter: saturate(0.3) contrast(1.2);
  // width: 300px;
  // height: 300px;
}
