.backdropPortfolio {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background: linear-gradient(
    45deg,
    rgb(133, 133, 133) 2%,
    rgba(215, 217, 223, 0.213) 100%
  );
}

.ishiddenPortfolio {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalPortfolio {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  width: 100%;
  height: 100vh;
  padding: 40px;

  // overflow: scroll;

  background-color: rgba(255, 255, 255, 0.09);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.portfolioList {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-weight: 600;
}

.modalPortfolioList {
  backdrop-filter: blur(5px);
  animation: modalPortfolioList 1s linear;
}
@keyframes modalPortfolioList {
  0% {
    transform: translate(0, 0) scale(0);
  }
  50% {
    transform: translate(0, 0) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

.portfolioListItem {
  background-color: var(--backgroundCube);
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolioListItem a {
  color: #fff;
}

.portfolioListItem a:hover,
.portfolioListItem a:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.itemImage {
  height: 285px;
  width: 100%;
}

.listItemBox {
  border: 1px solid white;
  padding: 10px;
}

.listItemBox__text {
  margin-bottom: 10px;
}
