.backdropPortfolio {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100%;

  overflow-y: scroll;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background: linear-gradient(
    45deg,
    rgb(133, 133, 133) 2%,
    rgba(215, 217, 223, 0.213) 100%
  );

  @include mq(desktop) {
    overflow-y: hidden;
  }
}

.ishiddenPortfolio {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalPortfolio {
  height: 100%;
  width: 100vw;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  @include mq(tablet) {
    padding: 20px;
    width: 100vw;
    font-size: 16px;
    color: #fff;
  }

  @include mq(desktop) {
    font-size: 20px;
  }
}

.portfolioList {
  height: 100%;
  max-width: 400px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include mq(tablet) {
    max-width: 700px;
    width: 100%;
    padding: 15px;
  }
  @include mq(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1200px;
  }
}

.modalPortfolioList {
  animation: modalPortfolioList 1s linear;
}
@keyframes modalPortfolioList {
  0% {
    transform: translate(0, 0) scale(0);
  }
  50% {
    transform: translate(0, 0) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

.portfolioListItem {
  background-color: var(--backgroundCube);
  min-width: 300px;
  width: 100%;

  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
  }
}

.portfolioListItem a {
  color: #fff;
}

.portfolioListItem a:hover,
.portfolioListItem a:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.itemImage {
  width: 100%;
  object-fit: cover;

  @include mq(tablet) {
    height: 285px;
  }
}

.listItemBox {
  border: 1px solid white;
  padding: 10px;
}

.listItemBox__text {
  margin-bottom: 10px;
}

.modal__close-btnP {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  position: absolute;
  top: 9px;
  right: 0;
  border: var(--border);
  background-color: rgba(209, 207, 207, 0.8);

  z-index: 1000;

  @include mq(tablet) {
    top: 0;
    right: 0;
  }
  @include mq(desktop) {
    top: 0;
    right: 10px;
  }
}

.modal__close-icon {
  fill: #fff;

  .modal__close-btnP:hover &,
  .modal__close-btnP:focus & {
    fill: black;
  }
}
